{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, eligendi, ad quod aliquam iusto eveniet soluta doloremque deserunt, nam autem suscipit dolores voluptate harum quis nemo commodi atque unde maiores.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, dolorem. Repellendus architecto impedit doloremque optio temporibus deserunt exercitationem odit delectus voluptates? Repellendus, sapiente mollitia commodi ipsa voluptatum praesentium at blanditiis.Neque rem cum cumque esse ab doloremque! Eaque incidunt dignissimos ut illo nisi vero rem, corrupti nulla quidem, similique quia exercitationem magnam asperiores quo hic itaque id nihil, eveniet doloribus!</p>

{% endblock %}