{% extends 'base.html.twig' %}

{% block body %}

 <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/02/2018 à 19h00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Possimus sed architecto dolorem laudantium repudiandae ut ab quas dignissimos minus, eveniet dolores odit molestias!</p>
            <p>Numquam, assumenda totam ab minima dignissimos, quis laborum ad placeat porro voluptate omnis corrupti impedit?</p>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur tempore, assumenda earum ullam ab ducimus. Rerum fuga numquam sunt neque harum. Aut adipisci laboriosam, minima repudiandae magnam, culpa voluptas reiciendis quis quod amet enim iste ullam. Eos dicta sed reprehenderit itaque, quo explicabo. Atque, ipsa iure illum accusamus quaerat impedit.</p>
            <p>Dolorem totam rem excepturi nostrum eaque. Pariatur quibusdam rerum in explicabo voluptates dicta adipisci nam unde rem veritatis animi quae, temporibus ullam placeat maxime reprehenderit perspiciatis laboriosam minus inventore impedit cupiditate accusamus. Cupiditate eaque incidunt officiis, voluptatibus illum aut vitae est ducimus possimus. Doloremque dolores aut veritatis aliquid. Rerum, eveniet.</p>
        </div>
    </article>

{% endblock %}